<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>indexServlet</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>indexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllOrdersServlet</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.GetAllOldersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllOrdersServlet</servlet-name>
        <url-pattern>/servlet/getAllOrders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllUsersServlet</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.GetAllUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllUsersServlet</servlet-name>
        <url-pattern>/servlet/getAllUsers</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>mate.academy.internetshop.controller.InjectInitializer</listener-class>
    </listener>

    <servlet>
    <servlet-name>registration</servlet-name>
    <servlet-class>mate.academy.internetshop.controller.RegistrationUserController</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/servlet/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/servlet/deleteUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addItem</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.RegistrationItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addItem</servlet-name>
        <url-pattern>/servlet/addItem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllItems</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.GetAllItemsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllItems</servlet-name>
        <url-pattern>/servlet/getAllItems</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteItem</servlet-name>
        <servlet-class>mate.academy.internetshop.controller.DeleteItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteItem</servlet-name>
        <url-pattern>/servlet/deleteItem</url-pattern>
    </servlet-mapping>
</web-app>